<header>
    <img src="images/pbb2.png" alt="logo" width="200px" height="200px">
    <h1>Prose Before Bros</h1>
    <button><a href="./login">Log In</a></button>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
